.services-page {
  max-width: 140px;
  margin: 0 auto;
  padding: 0 2rem;

  .page-title {
    text-align: center;
    font-size: 2.5rem;
    color: #222;
    margin-bottom: 3rem;
    padding-top: 2rem;
  }
}