$primary-color: #011e11;
$secondary-color: #00fd5e;
$tertiary-color: #ffffff;

$primary-font: 'DM Sans', sans-serif;
$secondary-font: 'Poppins', sans-serif;


.homeContainer{
    display: flex;
    height: 100vh;
    background-color: $primary-color;
    flex-direction: column;
    padding: 0 3rem;
}

.topContainer {
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 2rem;
    max-height: 8rem;
    padding: 1rem;
    //background-color: aqua; // Apagar depois
}

.logo {
    max-height: 100%;
    width: clamp(80px, 10vw, 150px);
    height: auto; 
}


.centerContainer{
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    //background-color: brown; // Apagar depois
}

.leftContainer{
    display: flex;
    gap: clamp(0.5rem, 1vw, 1.5rem);
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //background-color: cadetblue; // Apagar depois
}

.title{
    display: flex;
    width: 100%;
    padding: clamp(2rem, 5vw, 4rem);
    font-family: $primary-font;
    font-size: clamp(1.5rem, 5vw, 4rem);
    font-weight: bold;
    color: white;
    //background-color: blue;
}

.buttonContainer {
    padding: clamp(2rem, 5vw, 4rem);
    display: flex;
    align-items: center;
    width: 100%;
    //background-color: chartreuse; 
}

.rightContainer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 100%;
    //background-color: blueviolet; // Apagar depois
} 

.banner {
    width: 100%;
    height: auto;
    object-fit: contain; /* Garante que a imagem se ajuste dentro do container */
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .homeContainer {
        padding: 0 1rem;
    }

    .topContainer {
        justify-content: center;
        padding: 2.5rem;
    }
    
    .logo {
        width: clamp(110px, 10vw, 150px);
    }

    .centerContainer {
        grid-template-columns: 1fr; 
    }

    .leftContainer,
    .rightContainer {
        width: 100%;
    }

    .leftContainer {
        display: grid;
    }

    .title {
        font-size: clamp(2.5rem, 4vw, 3.5rem);
        justify-content: center;
        padding: 1rem 2rem;
        text-align: center;
    }

    .buttonContainer{
        justify-content: center;
    }
}