$primary-color: #011e11;
$secondary-color: #00fd5e;
$tertiary-color: #ffffff;

$primary-font: 'DM Sans', sans-serif;
$secondary-font: 'Poppins', sans-serif;


.homeContainer{
    display: flex;
    height: 100vh;
    background-color: $primary-color;
    flex-direction: column;
    padding: 0 3rem;
}

.topContainer{
    width: 100%;
    background-color: aqua; // Apagar depois
}

.logoContainer {
    min-height: 5rem;
    height: auto;
    width: 50%;
    background-color: chocolate; // Apagar depois
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }
  
  .logo {
    object-fit: contain;
 }

.centerContainer{
    align-items: center;
    justify-content: space-between;
    margin: 3rem;
    display: grid;
    grid-template-columns: 70fr 30fr;
    gap: 2rem;
    height: 100%;
    background-color: brown; // Apagar depois
}

.leftContainer{
    width: 40%;
    height: 100%;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
    background-color: cadetblue; // Apagar depois
}

.title{
    display: flex;
    height: 80%;
    font-family: $primary-font;
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: bold;
    color: white;
    align-items: center;
}

.buttonContainer {
    height: 20%;
    display: flex;
    justify-content: flex-start;
}

.rightContainer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 60%;
    height: 100%;
    background-color: blueviolet; // Apagar depois
} 

.banner {
    max-width: 60rem; 
    width: 100%;
    max-height: 80rem;
    height: auto;
    object-fit: contain; /* Garante que a imagem se ajuste dentro do container */
}
