$primary-color: #011e11;
$secondary-color: #00fd5e;
$tertiary-color: #ffffff;

$primary-font: 'DM Sans', sans-serif;
$secondary-font: 'Roboto', sans-serif;

.button {
    background-color: $secondary-color;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.4s ease-in-out;
    color: $primary-color;
    width: 80%;
    font: $secondary-font;
    font-size: 1rem;
    font-weight: bold;
    max-height: 3rem;
    border: 3.5px solid transparent;

    
    &:hover {
        background-color: $primary-color;
        color: $tertiary-color;
        border-color: $secondary-color;
    }
}
